.container{
  gap: 20px 0;
}

.itemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.imgContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.itemImg {
  max-height: 250px;
  height: 100%;
  max-width: 100%;
  width: 100%;
  border: 2px solid var(--color-dark);
  border-radius: 4px;

  user-select: none;

  @media (max-width: 576px) {
    max-height: none;
  }
}

.btn{
 border-radius: 0;
}