.root {
  //height: 200px;

  @media (max-width: 992px) {
    height: auto;
  }
}

.img {
  //max-height: 85px;
  max-height: 160px;
  height: 100%;
}

.language {
  @media (max-width: 768px) {

    justify-content: center !important;
  }
}




